.container {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    gap: 15px;

    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-align: left;
    color: #4b4b4b;
}
