.container {
    width: 100%;
    height: 65rem;
    background-color: rgba(255, 195, 44, 0.2);
    padding: 16rem 0 7rem 0;
    display: flex;
    justify-content: center;
}
.main {
    width: 114rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}
.left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.componentTitle {
    width: 55.3rem;
}
.icons {
    width: 36.3rem;
    height: 3.7rem;
    display: flex;
    gap: 0.5rem;
}
.icon {
    height: 3.7rem;
    background-color: rgba(15, 15, 15, 0.05);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 1rem;
    text-align: left;
    font-size: 1.4rem;
    color: #0f0f0f;
}
.btn {
    width: 14.4rem;
    height: 4.4rem;
    border-radius: 4rem;
    background-color: #0f0f0f;
    color: #f9f9f9;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.links {
    height: 1.8rem;
    display: flex;
    gap: 0.8rem;
}
.link {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: #0f0f0f;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.right {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
}
.imageContainer {
    width: 35rem;
    height: 22rem;
    border-top: 1px solid #0f0f0f;
    border-right: 1px solid #0f0f0f;
    border-radius: 0 1rem 0 0;
    position: relative;
}
.image {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}
.iconsContainer {
    width: 21.8rem;
    height: 4rem;
    margin-left: 12rem;
    display: flex;
    gap: .5rem;
}
.smallIcon{
    width: 4.2rem;
    height: 4rem;
    border-radius: 4rem;
    background-color: rgba(15, 15, 15, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallIcons{
    width: 13.8rem;
    display: flex;
    gap: .5rem;
}
.text{
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: #4B4B4B;
    font-weight: 400;
    height: 4rem;
    padding-top: .5rem;
   
}
