@import '../../styles/variables.module.scss';
@import '../../styles/utils/display.scss';
@import '../../styles/utils/flex.scss';
.info {
    width: 55rem;
    height: 39rem;
}

.intro {
    padding: 0.5rem 1.5rem;
    background-color: $backgorund1;
    color: $text-color2;
    border-radius: 4rem;
    @extend .inline-block;
    margin-bottom: 3rem;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.description {
    color: $gray-text-color2;
    font-size: 1.8rem;
    margin-bottom: 4rem;
}
.children {
    @extend .flex-col;
    gap: 1rem;
    width: 60rem;
}
