.container {
  background-color: #0F0F0F;
  color: #7B7B7B;
  padding: 8rem 15rem 5rem 15rem;
}

.header {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #DBDBDB;
}

.headerExtra {
  font-size: 1.6rem;
  margin-bottom: 7rem;
  max-width: 57rem;
}

.seeAllButton {
  background-color: transparent;
  border: 1px solid #ffc32c;
  color: #ffc32c;
  padding: 0.8rem 3rem;
  border-radius: 4rem;
  font-size: 1.5rem;
}

.blogPosts {
  display: flex;
  justify-content: space-between;
}

.blogPost {
  max-width: 36rem;
  height: 43.6rem;
}

.dateAndCategory {
  display: flex;
  margin: 2.5rem 0 1rem 0;
}

.category {
  color: #FFC32C;
  margin-left: 2rem;
}

.title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #DBDBDB;
}

.image {
  border-radius: 1rem;
}

.miniblogPost {
  display: flex;
  border-radius: 1rem;
  border: 1px solid #7B7B7B;
  max-width: 36rem;
  margin-bottom: 1.5rem;
  padding: 1.5rem;

}

.info {
  margin-left: 1.5rem;
}

.miniDate {
  display: flex;
  margin-bottom: 0.5rem;
}

.body {
  color: #DBDBDB;
  font-size: 1.6rem;
}