.container {
    background: #0f0f0f;
    color: #7b7b7b;
    padding: 8rem 15rem 5rem 15rem;
}

.header {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #dbdbdb;
}

.headerExtra {
    font-size: 1.6rem;
    margin-bottom: 7rem;
    max-width: 57rem;
}

.seeAllButton {
    
    border: 1px solid #ffc32c;
    color: #ffc32c;
    padding: 0.8rem 3rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    height: 4.6rem;
    background: #f9f9f90d;
}

.blogPosts {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10rem;
    justify-content: space-between;
   
}
@media screen and (max-width: 1440px) {
    .blogPosts {
        flex-direction: column;
        gap: 2rem;
    }
}

.blogPost {
    max-width: 36rem;
    height: 43.6rem;
}

.dateAndCategory {
    display: flex;
    margin: 2.5rem 0 1rem 0;
}

.category {
    color: #ffc32c;
    margin-left: 2rem;
}

.title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #dbdbdb;
    font-weight: 600;
    line-height: 3.2rem;
    text-align: left;
}

.image {
    border-radius: 1rem;
}

.miniblogPost {
    display: flex;
    border-radius: 1rem;
    border: 1px solid #7b7b7b;
    max-width: 36rem;
    margin-bottom: 1.5rem;
    padding: 1.5rem;
}

.info {
    margin-left: 1.5rem;
}

.miniDate {
    display: flex;
    margin-bottom: 0.5rem;
}

.largeBody {
    color: #b7b7b7;
    width: 33.6rem;
    height: 7.2rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
}
.body {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
    text-align: left;
    color: #dbdbdb;
}
.leftContainer {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}
@media screen and (max-width: 1440px) {
    .leftContainer {
        flex-direction: column;
        gap: 3rem;
    }
}
.rightContainer {
    display: flex;
    flex-direction: column;
}
