.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8rem 15rem 5rem 15rem;
    background-color: #efeeeb;
    color: #000000;
}

.button {
    padding: 0.8rem 2.7rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    border: none;
    width: 14rem;
    height: 5rem;
}

.apply {
    @extend .button;
    background-color: #ffc32c;
    margin-right: 2rem;
}

.learnMore {
    @extend .button;
    background-color: transparent;
    border: 1px solid #ffc32c;
    color: #0f0f0f;
}

.statistics {
    display: flex;
    flex-wrap: wrap;
    max-width: 65rem;
}
