.card {
    width: 56rem;
    height: 7.2rem;
    gap: 1rem;
    border-radius: 2rem;
    background: #e3e2df;
    display: flex;
    align-items: center;
    padding-left: 2.5rem;
    transition: background-color 0.5s, height 0.5s, border-width 0.5s;
}

.card h3 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    text-align: left;
    color: #0f0f0f;
}
.card2 {
    width: 56rem;
    height: 44rem;
    padding: 24px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 2rem;
    border: 1px solid #0f0f0f;
    background: #0f0f0f;
    box-sizing: border-box;
    transition: background-color 0.5s, height 0.5s, border-width 0.5s;
}
.card2 h3 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    text-align: left;
    color: #ffc32c;
}
.cardText {
    width: 51rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cardHeader {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    text-align: left;
    color: #ffc32c;
}
.cardHeader2 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 2.2rem;
    text-align: left;
    color: #0f0f0f;
}
.btn {
    border: 0;
    background-color: inherit;
    cursor: pointer;
    margin: 0;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.details {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.detail {
    // border: 1px solid yellow;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.7rem;
    text-align: left;
    width: 45.5rem;
    height: 11rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: #dbdbdb;
    padding-top: 0;
}
.detail p {
    margin-top: 0;
}
