.container {
    height: 149.8rem;
    background-color: rgba(239, 238, 235, 0.5);
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 10rem;
}
.main {
    width: 75rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: #4b4b4b;
}
.text {
    width: 75rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.6rem;
    color: #0f0f0f;
}
.text > ul {
    line-height: 2.7rem;
    font-size: 1.6rem;
    color: #4b4b4b;
}
.text> ul>li{
    margin-left: 2rem;
}
