@import "../../../styles/variables.module.scss";
.benefit {
    max-width: 36rem;
    padding: 4rem;
    color: #1c1c1c;
    border-radius: 1rem;
    transition: background-color 0.3s, color 0.3s;
}

.benefit:hover {
    background-color: $black-color;
    color: $gray-text-color2;
}
.active {
    background-color: $black-color;
    color: $gray-text-color2;
}

.title {
    margin: 4rem 0 2rem;
    font-weight: 600;
    font-size: 1.6rem;
}
