.card {
    margin-left: 5rem;
    width: 148rem;
    padding: 2rem 4rem 2rem 2rem;
    gap: 2rem;
    border-radius: 1rem;
    opacity: 0px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background-color 0.8s;
}
.card:hover {
    background-color: black;
    box-sizing: border-box;
    color: #dbdbdb;
    .btn1 {
        background: #0f0f0f;
    }
}
.details {
    margin-left: 5rem;
    width: 148rem;
    height: 19rem;
    border-radius: 10px;
    border: 1px solid black;
    background: #0f0f0f;
    position: relative;
    padding: 2rem 4rem 2rem 2rem;
}
.btn1 {
    background: #efeeeb;
    cursor: pointer;
    top: 2rem;
    left: 1.5rem;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn2 {
    background: #0f0f0f;
    position: absolute;
    top: 3rem;
    left: 2rem;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.round {
    width: 3rem;
    height: 3rem;
    top: 2.8rem;
    left: 2rem;
    gap: 0px;
    position: absolute;
    opacity: 0px;
    border-radius: 50%;
    background: #ffc32c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border: px solid white;
}

.text {
    width: 120rem;
    top: 2rem;
    left: 7rem;
    position: absolute;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
    color: #dbdbdb;
}

.header {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.7rem;
    text-align: left;
    padding: 0;
    color: #dbdbdb;
}
