.container {
    background-color: #efeeeb;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 68.4rem;
   
}
.main{
    width: 114rem;
  
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.titleComponent{
   
    width: 57rem;
}



.feedbacks {
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
  
}
@media screen and (max-width: 1440px) {
    .feedbacks {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin: 0;
    }
    .container {
        align-items: center;
        padding: 5rem 0 0 0;
    }
}
