.container {
    background-color: #efeeeb;
    color: #000000;
    padding: 15rem 15rem 10rem 33rem;
    // border: 5px solid red;
}

.header {
    font-size: 2.6rem;
    font-weight: 700;
    max-width: 54.3rem;
    margin-bottom: 2rem;
}

.headerExtra {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    max-width: 57rem;
    color: #4b4b4b;
}

.feedbacks {
    display: flex;
    align-items: center;
}
