.container {
    background-color: #000000;
    color: #ffffff;
    padding: 8rem 15rem 5rem 15rem;
    // border: 5px solid white;
}

.header {
    font-size: 2.6rem;
    font-weight: 700;
    max-width: 54.3rem;
    margin-bottom: 2rem;
    margin-left: 14rem;
}

.rating {
    color: #ffc32c;
}

.headerExtra {
    font-size: 1.6rem;
    margin-bottom: 5rem;
    max-width: 57rem;
    font-weight: 500;
    line-height: 2.7rem;
    text-align: left;
    color: #7b7b7b;
    margin-left: 14rem;
}

.universities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.imgContainer {
    width: 30rem;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    margin: 9rem;
    min-width: 174px;
    object-fit: contain;

    &:first-child {
        margin-left: 0;
    }

    &:nth-child(5) {
        margin-right: 0;
    }

    &:nth-child(6) {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}
