@import '../../styles//variables.module.scss';
@import '../../styles/utils/display.scss';
@import '../../styles/utils/flex.scss';

.container {
    background-color: $black-color2;
    color: $background5;
    @extend .flex;
    @extend .items-center;
    @extend .justify-center;
    width: 100%;
    height: 65.8rem;
}
.main {
    width: 114rem;
    height: 43.8rem;
    @extend .flex;
    @extend .flex-col;
    gap: 10rem;
}

.headerContainer {
    width: 61.3rem;
    @extend .flex;
    @extend .flex-col;
    gap: 2rem;
}
.header {
    font-size: 2.6rem;
    font-weight: 700;
    max-width: 54.3rem;
    width: 45rem;
}

.rating {
    color: $button-color;
}

.headerExtra {
    font-size: 1.6rem;
    max-width: 57rem;
    font-weight: 500;
    line-height: 2.7rem;
    text-align: left;
    color: #7b7b7b;
}

.universities {
  
    @extend .flex;
    @extend .flex-row;
    @extend .flex-wrap;
    @extend .justify-between;
    width: 114rem;
    height: 16.5rem;
    gap: 5rem;
}
.imgContainer {
    width: 18rem;
    height: 4rem;
    @extend .flex;
    @extend .items-center;
    @extend .justify-center;
}

.image {
    margin: 9rem;
    min-width: 174px;
    object-fit: contain;

    &:first-child {
        margin-left: 0;
    }

    &:nth-child(5) {
        margin-right: 0;
    }

    &:nth-child(6) {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }
}
