@import '../../../styles//variables.module.scss';
@import '../../../styles//utils/display.scss';
@import '../../../styles//utils/flex.scss';
.feedback {
    width: 36rem;
    height: 27rem;
    padding: 3rem;
    background-color: $background5;
    border-radius: 1rem;

    // &:first-child {
    //     margin-left: 0;
    // }

    // &:last-child {
    //     margin-right: 0;
    // }
}

.profile {
    @extend .flex;
    @extend .items-center;
    @extend .justify-between;
    margin-bottom: 4rem;
}

.personalInfo {
    @extend .flex;
    @extend .items-center;
    @extend .justify-between;
}

.name {
    margin-left: 1.2rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 3rem;
    letter-spacing: 0.002em;
    text-align: left;
}
.profession {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
    color: #4b4b4b;
}
.feedbackBody {
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #4b4b4b;
}
.feedbackBody span {
    color: green;
}
