.main {
    width: 100%;
   display: flex;
   justify-content: center;
    background: #efeeeb;
    padding: 10rem 0;
}
.container {
    display: flex;
    justify-content: space-between;
     width: 100%;
}
.bigContainer{
    width: 114rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;

}
.titleComponent{
    width: 94.6rem;
}
@media screen and (max-width: 1700px) {
    .container {
       flex-direction: column;
    }
}

// .text {
//     width: 95rem;
// }
.header {
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-align: left;
    color: #0f0f0f;
}

.btn {
    width: 14.4rem;
    height: 4.4rem;
    gap: 6px;
    border-radius: 4rem;
    border: none;
    background: #ffc32c;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.8rem;
    letter-spacing: -0.02em;
    color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;   
 }
