.container {
    width: 100%;
    height: 56.6rem;
    background-color: #efeeeb;
    display: flex;
    flex-direction: column;
   align-items: center;
    padding-top: 11rem;
}
.main{
    width: 114rem;
    display: flex;
    flex-direction: column;
    gap: 7rem;

}
.titleComponent{
    width: 89.5rem;
}
.boxes{
    width: 114rem;
    height: 21.6rem;
    display: flex;
    gap: 3rem;
}
.box{
    width: 36rem;
    height: 100%;
    border-radius: 1rem;
    background-color: #F9F9F9;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.boxBlack{
    width: 36rem;
    height: 100%;
    border-radius: 1rem;
    background-color: #0F0F0F;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.boxBlack >.title{

    font-weight: 700;
    line-height: 3rem;
    font-size: 1.6rem;
    text-align: left;
    color: #F9F9F9;
    width: 29rem;
}
.title{
    font-weight: 700;
    line-height: 3rem;
    font-size: 1.6rem;
    text-align: left;
    color: #0F0F0F;
    width: 29rem;
}

.text{
    text-align: left;
    color: #7B7B7B;
    line-height: 2.4rem;
    font-size: 1.4rem;
}
