.container {
    background-image: url(../../assets/images/backgrounImage.png);
    color: #fff;
    background-size: cover;
    width: 100%;
    height: 85.2rem;
    overflow: hidden;
    position: relative;
}
.overlay {
    position: absolute;
    padding: 18rem 0 5.6rem 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(15, 15, 15, 0.8);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    z-index: 1;
}
.overlay > * {
    z-index: 5;
}
.main {
    width: 114rem;
    height: 61.2rem;
    display: flex;
    flex-direction: column;
    gap: 9rem;
}

.start {
    width: 22.6rem;
    height: 4.4rem;
    border-radius: 4rem;
    opacity: 0px;
    background: #ffc32c;
    color: #0f0f0f;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.8rem;
    letter-spacing: -0.02em;
    text-align: center;
    border: none;
    margin-right: 1rem;
    cursor: pointer;
}
.see {
    width: 22.4rem;
    height: 4.4rem;
    border-radius: 4rem;
    opacity: 0px;
    background-color: rgba(249, 249, 249, 0.05);
    color: #ffc32c;
    border: 1px solid #ffc32c;
    cursor: pointer;
}
.text {
    color: #dbdbdb;
}
.info {
    height: 12.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid #b7b7b7;
}
.information {
    width: 25rem;
}
.information h3 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    color: #f9f9f9;
}
.title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
    text-align: left;
    color: #b7b7b7;
}
