.webinar {
    width: 114rem;
    height: 37rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    cursor: pointer;
}
.webinar:hover .border {
    border: 1px solid #7b7b7b;
}
.border {
    width: 114rem;
    border: 1px solid #000000;
}

.webinaContainer {
    width: 114rem;
    display: flex;
    gap: 6rem;
    position: relative;
}
.webinarInfo {
    width: 61.2rem;
    height: 21.2rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.icons {
    width: 36.3rem;
    height: 3.7rem;
    display: flex;
    gap: 0.5rem;
}
.icon {
    height: 3.7rem;
    background-color: #e3e2df;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 1rem;
    text-align: left;
    font-size: 1.4rem;
    color: #0f0f0f;
}
.text {
    width: 100%;
    height: 15.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.webinarTitle {
    line-height: 3.2rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
    color: #0f0f0f;
    position: relative;
}
.webinarTitle::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #0f0f0f;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}
.webinar:hover .webinarTitle::after {
    width: 100%;
}
.description {
    line-height: 2.7rem;
    font-size: 1.6rem;
    text-align: left;
    color: #7b7b7b;
}
.webinar:hover .image {
    filter: grayscale(30%);
}
.content {
    position: absolute;
    width: 458px;
    height: 290px;
    border-radius: 1rem;
}
.webinar:hover .content {
    background-color: rgba(15, 15, 15, 0.4);
    transition: background-color 0.5s ease;
}
