$breakpoints: (
    'xs': 0,
    'sm': 360,
    'md': 768,
    'lg': 1366,
    'xl': 1536,
    'xxl': 1920,
);
//Color
$black-color: #0f0f0f;
$black-color2: #000000;

//Background
$backgorund1: #332f27;
$backgorund2: #efeeeb;
$backgorund3: #f9f9f9;
$background4: #262626;
$background5: #ffffff;
$button-background:#f9f9f90d;
$footer-header-background:#161616;
$footer-button-background:#f9f9f91a;
//


//Element color
$button-color: #ffc32c;

//Text color
$gray-text-color: #4b4b4b;
$gray-text-color2: #b7b7b7;
$white-text-color: #dbdbdb;
$text-color1: #e3e2df;
$text-color2: #d4c095;
