.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.account {
    @extend .flex-center;
}

.circleContainer {
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
}

.language {
    @extend .flex-center;
    @extend .circleContainer;
    background-color: #262626;
    margin-right: 1rem;
    width: 7rem;
    height: 4rem;
}

.studentPortal {
    @extend .flex-center;
    @extend .circleContainer;
    background-color: #ffc32c;
    color: #0f0f0f;
    width: 14rem;
    height: 4rem;
}

.lang {
    margin-right: 0.5rem;
}
