.container {
    width: 100%;
    height: 58.9rem;
    background-color: #efeeeb;
    padding: 10rem 15rem;
    display: flex;
  justify-content: center;
}
.main{
    width: 114rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.courses {
    width: 114.2rem;
    height: 21.9rem;
    display: flex;
    gap: 3rem;
}
.course {
    min-width: 55.5rem;
    height: 21.9rem;
    // margin: 3rem;
    box-sizing: border-box;
    border-radius: 1rem;
    box-sizing: border-box;
    transition: background-color 1s, border 0.9s;
    background-image: url('../../assets/images/CourseImage.png');
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.course:hover .content {
    background-color: rgba(15, 15, 15, 0.9);
}
.course:hover .courseType {
    color: #ffc32c;
}
.course:hover .name {
    color: #f9f9f9;
}
.course:hover .duration {
    background-color: #262626;
    color: #f9f9f9;
}
.course:hover .startDate {
    background-color: #262626;
    color: #f9f9f9;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #efeeeb;
    opacity: 0.9;
    z-index: 1;
    padding: 30px 255px 32px 40px;
    cursor: pointer;
}

.info {
    font-size: 1.6rem;
    width: 260px;
    height: 157px;
    position: relative;
    z-index: 100;
}
.courseType {
    height: 27px;
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: #7b7b7b;
}

.name {
    max-width: 100%;
    height: 56px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: left;
    color: #0f0f0f;
}
.duration {
    width: 87px;
    height: 29px;
    border-radius: 1rem;
    background-color: #0f0f0f;
    color: #f9f9f9;
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
    display: inline-block;
}
.startDate {
    width: 135px;
    height: 29px;
    border-radius: 1rem;
    background-color: #0f0f0f;
    color: #f9f9f9;
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
    display: inline-block;
}
.blacks {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 1rem;
}
.titleComponent{
    width: 60rem;
}
