.container {
    width: 100;
    height: 49.5rem;
    padding: 18rem 33rem 9rem 33rem;
    background-color: #0f0f0f;
    position: relative;
    overflow: hidden;
}
.leftRectangle {
    border-radius: 742px;
    background: rgba(255, 195, 44, 0.4);
    filter: blur(100px);
    width: 47.2rem;
    height: 47.2rem;
    position: absolute;
    left: -10rem;
    top: -14rem;
    overflow: hidden;
}
.rightRectangle {
    border-radius: 742px;
    background: rgba(255, 195, 44, 0.4);
    filter: blur(100px);
    width: 47.2rem;
    height: 47.2rem;
    position: absolute;
    right: -10rem;
    bottom: -14rem;
    overflow: hidden;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.title {
    font-weight: bold;
    font-size: 3rem;
    line-height: 4.5rem;
    text-align: center;
    color: #f9f9f9;
    width: 68rem;
}
.text {
    font-size: 1.8rem;
    line-height: 3rem;
    color: #b7b7b7;
    text-align: center;
    width: 72rem;
    
}
