.container {
    background-color: #0f0f0f;
    color: #fff;
    background-image: url('../../assets/images/mesh.svg');
    background-size: 100%;
    width: 100%;
    height: 80rem;
    padding: 8.4rem 15rem 6.4rem 15rem;
}

.banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}


.button {
    padding: 0.8rem 2.7rem;
    border-radius: 4rem;
    font-size: 1.5rem;
}

.apply {
    @extend .button;
    background-color: #ffc32c;
    color: #0f0f0f;
    margin-right: 2rem;
}

.learnMore {
    @extend .button;
    background-color: transparent;
    border: 1px solid #ffc32c;
    color: #ffc32c;
}

.courses {
    background-color: #0f0f0f;
    border: 0.5px solid #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    color: #4b4b4b;
    font-size: 2.4rem;
    padding: 1.3rem 0;
    width: 100%;    
}
.courses li:hover {
    color: rgb(188, 146, 146);
    transition: color 0.8s;
    list-style: none;
}

.buttons {
    display: flex;
    flex-direction: row;
}
