.container {
    background-color: #0f0f0f;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.7rem 6rem;
    font-weight: 500;
    background: rgba(13, 7, 7, 0.8);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
