.course {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3e2df;
    min-width: 555px;
    margin: 30px;
    padding: 3rem 4rem 0 3rem;
    border-radius: 1rem;
    cursor: pointer;
    box-sizing: border-box;

    &:nth-child(odd) {
        margin-left: 0;
    }

    &:nth-child(even) {
        margin-right: 0;
    }

    transition: background-color 1s, border 0.9s;
}

.course:hover {
    border: 1px solid black;
    background-color: #ffd873;
    box-sizing: border-box;
}

.hover {
    border: 1px solid black;
    background-color: #ffd873;
}

.name {
    font-size: 2.2rem;
    margin: 0.6rem 0 6.9rem 0;
}

.duration {
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
    background-color: #d4d3d0;
    border-radius: 1rem;
    display: inline-block;
}
.info {
    font-size: 1.6rem;
}

.beginner {
    color: #598d6c;
}
.middle {
    color: #8d60c5;
}
.professional {
    color: #d5732b;
}
.advanced {
    color: #387fd2;
}
