.main {
  
    background: #0f0f0f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;

}
.bigContainer{
    width: 114rem;
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.container {
    width: 105.5rem;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
   
}

.title {
 
    margin-top: 0;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-align: left;
    color: #b7b7b7;
}
.text {
   // width: 106rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.7rem;
    text-align: left;
    color: #b7b7b7;
}
.boxes {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 5rem;
}
@media screen and (max-width: 1700px) {
   
    .boxes {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
}
.box {
    width: 36rem;
    padding: 3rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.7rem;
    text-align: center;
    color: #dbdbdb;
    background: #4b4b4b4d;
}
