.card {
    width: 555px;
    height: 60px;
    padding: 15px 20px 15px 20px;
    gap: 20px;
    border-radius: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.details {
    width: 555px;
    height: 162px;
    border-radius: 10px;
    border: 1px solid black;
    background: #0f0f0f;
    position: relative;
}
.btn1 {
    border: none;
    background: #efeeeb;
    cursor: pointer;
}
.btn2 {
    border: none;
    background: #0f0f0f;
    position: absolute;
    top: 20px;
    left: 15px;
}
.round {
    width: 30px;
    height: 30px;
    top: 28px;
    left: 20px;
    gap: 0px;
    position: absolute;
    opacity: 0px;
    border-radius: 50%;
    background: #ffc32c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border: px solid white;
}

.text {
    width: 445px;
    height: 119px;
    top: 10px;
    left: 70px;
    position: absolute;
    gap: 20px;
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #b7b7b7;
}

.header {
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    padding: 0;
    color: #dbdbdb;
}
