@import '../../../styles/variables.module.scss';
@import '../../../styles/utils/display.scss';
@import '../../../styles/utils/flex.scss';
.card {
    @extend .flex;
    @extend .items-center;

    width: 56rem;
    height: 6rem;
    gap: 1rem;
    border-radius: 1rem;
    background: inherit;
    padding-left: 2rem;
    border: 1px solid $black-color;
    transition: background-color 0.5s, height 0.1s, border-width 0.5s;
}
.card:hover {
    background-color: $black-color;
    box-sizing: border-box;
    color: $white-text-color;
    & h1 {
        color: $white-text-color;
    }
}
.card h1 {
    color: $black-color;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.7rem;
    text-align: left;
}
.cardText {
    width: 56rem;
    @extend .flex;
    @extend .items-center;
    gap: 2rem;
}

.btn {
    border: 0;
    background-color: inherit;
    cursor: pointer;
    margin: 0;
    width: 5rem;
    height: 5rem;
    @extend .flex;
    @extend .items-center;
    @extend .justify-center;
}
.card2 {
    width: 56rem;
    height: 16.2rem;
    padding-top: 0.4rem;
    padding-left: 2rem;
    @extend .flex;
    @extend .flex-col;

    //gap: 1rem;
    border-radius: 1rem;
    border: 1px solid $black-color;
    background: $black-color;
    box-sizing: border-box;
    transition: background-color 0.5s, height 0.1s, border-width 0.5s;
}

.card2 h1 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.7rem;
    text-align: left;
    color: $white-text-color;
}
.details {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 44.5rem;
    height: 7.2rem;
    margin-left: 7rem;
    padding-top: 0;
}
.details p {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
    color: $gray-text-color2;
}
