.container {
    display: flex;
    flex-wrap: wrap;
}

.allCourses {
    background-color: #efeeeb;
    color: #000000;
    padding: 8rem 15rem 5rem 15rem;
}

.header {
    font-size: 2.6rem;
    font-weight: 700;
    max-width: 54.3rem;
    margin-bottom: 2rem;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-align: left;
    color: #0f0f0f;
}

.headerExtra {
    font-size: 1.6rem;
    margin-bottom: 5rem;
    text-align: left;
    color: #4b4b4b;
}
