.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.allCourses {
    background-color: #efeeeb;
    color: #000000;
    padding: 8rem 15rem 5rem 15rem;
}

.boxes {
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
}
.box {
    height: 4.4rem;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    color: #0f0f0f;
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 600;
}

.box2 {
    height: 4.4rem;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    background-color: #ffc32c;
    color: #0f0f0f;
    font-size: 1.5rem;
    line-height: 2.8rem;
    font-weight: 600;
}
.main {
    padding-left: 21rem;
}
.header {
    font-size: 2.6rem;
    font-weight: 700;
    max-width: 54.3rem;
    margin-bottom: 2rem;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 3.6rem;
    text-align: left;
    color: #0f0f0f;
}

.headerExtra {
    font-size: 1.6rem;
    margin-bottom: 5rem;
    text-align: left;
    color: #4b4b4b;
}

.course {
    background-color: #e3e2df;
    min-width: 555px;
    height: 219px;
    margin: 30px;
    padding: 30px 255px 32px 40px;
    box-sizing: border-box;
    border-radius: 1rem;
    box-sizing: border-box;
    transition: background-color 1s, border 0.9s;
    background: url('../../assets/images/CoursesImage.png');
    // background-color: #efeeeb;
    opacity: 0.9;
    overflow: hidden;
    // z-index: 1;
}
.info {
    font-size: 1.6rem;
    width: 260px;
    height: 157px;
    position: relative;
    z-index: 100;
}
.courseType {
    height: 27px;
    font-size: 1.4rem;
    line-height: 2.7rem;
    color: #7b7b7b;
}

.name {
    max-width: 100%;
    height: 56px;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: left;
    color: #0f0f0f;
}
.duration {
    width: 87px;
    height: 29px;
    border-radius: 1rem;
    background-color: #0f0f0f;
    color: #f9f9f9;
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
    display: inline-block;
}
.startDate {
    width: 135px;
    height: 29px;
    border-radius: 1rem;
    background-color: #0f0f0f;
    color: #f9f9f9;
    font-size: 1.4rem;
    padding: 0.6rem 1.2rem;
    display: inline-block;
}
.blacks {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 1rem;
}
