@import '../../styles/variables.module.scss';
@import '../../styles/utils/display.scss';
@import '../../styles/utils/flex.scss';
.footer {
    height: 75rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    border-bottom: 0.5rem solid $button-color;
}

.footerHeader {
    height: 12rem;
    background: $footer-header-background;
    @extend .flex;
    @extend .flex-row;
    @extend .justify-center;
    @extend .items-center;
}
.main {
    width: 120rem;
    @extend .flex;
    @extend .justify-between;
    @extend .items-center;
}
.buttons {
    width: 40rem;
    height: 4rem;
    @extend .flex;
    @extend .flex-row;
    @extend .justify-between;
}
.btn1 {
    width: 17rem;
    height: 4rem;
    border-radius: 5rem;
    border: none;
    opacity: 0px;
    background: $footer-button-background;
    color: $backgorund3;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    text-align: center;
    cursor: pointer;
    @extend .flex;
    @extend .items-center;
    @extend .justify-center;
    gap: 0.7rem;
}
.btn2 {
    width: 21rem;
    height: 4rem;
    border: none;
    background: $button-color;
    color: #0f0f0f;
    border-radius: 5rem;
    opacity: 0px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    letter-spacing: -0.02em;
    @extend .flex;
    @extend .flex-row;
    @extend .items-center;
    @extend .justify-center;
    gap: 4px;
    cursor: pointer;
}
.body {
    height: 63rem;
    background: $black-color;
    @extend .flex;
    @extend .flex-col;
    @extend .justify-center;
    @extend .items-center;
}
.row {
    height: 26rem;
    @extend .flex;
    @extend .flex-row;
    @extend .justify-between;
    gap: 5rem;
}

.footerF {
    background: black;
    height: 20rem;
    @extend .flex;
    @extend .flex-row;
    @extend .items-center;
    @extend .justify-around;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    text-align: right;
    color: #7b7b7b;
}
.footerF ul {
    font-size: 1.4rem;
    gap: 20px;
    font-weight: 400;
    line-height: 1.7rem;
    text-align: left;
    color: $gray-text-color2;
    @extend .flex;
    @extend .flex-row;
    list-style: none;
}
.images {
    width: 22rem;
    height: 4rem;
    @extend .flex;
    @extend .flex-row;
    @extend .items-center;
    @extend .justify-between;
}
.socialIcon {
    width: 4.2rem;
    height: 4rem;
    border-radius: 5rem;
    background: #1b1b1b;
    @extend .flex;
    @extend .items-center;
    @extend .justify-center;
    position: relative;
}
.socialIcon:hover .effects {
    background: rgba(255, 195, 44, 0.4);
    filter: blur(10px);
}
.effects {
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    overflow: hidden;
    border-radius: 3rem;
}

.linksUl > li {
    transition: color 0.5s ease, cursor 0.5s ease;
}
.linksUl > li:hover {
    cursor: pointer;
    color: $white-text-color;
}
