@import '../../../styles/variables.module.scss';
@import '../../../styles/utils/display.scss';
@import '../../../styles/utils/flex.scss';

.navigation {
    @extend .flex;
    @extend .justify-between;
    @extend .items-center;
}

.allCourses {
    @extend .flex;
    @extend .justify-center;
    @extend .items-center;
    padding: 0;
    margin: 0 3.5rem 0 5rem;
    border: 1px solid white;
    width: 14rem;
    height: 4.5rem;
    border-radius: 4rem;
    color: white;
    gap: 1rem;
}
.allCourses:hover {
    border: 1px solid $button-color;
    color: $button-color;
}

.allCourses:hover + .icon {
    filter: brightness(0.8);
}

.navigationLinks {
    @extend .flex;
    @extend .justify-between;
    @extend .items-center;
}

.links {
    @extend .flex;
    @extend .justify-between;
    @extend .items-center;
    gap: 2rem;
    list-style: none;
    cursor: pointer;
}

.link {
    margin-right: 0.5rem;
    color: $text-color1;
    @extend .flex;
    @extend .justify-center;
    @extend .items-center;
    gap: 0.6rem;

    &:last-child {
        margin-right: 0;
    }
}
