.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allCourses {
    padding: 0;
    margin: 0 3.5rem 0 5rem;
    border: 1px solid white;
    width: 14rem;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4rem;
    color: white;
    gap: 1rem;
}
.allCourses:hover {
    border: 1px solid #ffc32c;
    color: #ffc32c;
}

.allCourses:hover + .icon {
    filter: brightness(0.8);
}

.navigationLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    cursor: pointer;
}

.link {
    margin-right: 0.5rem;
    color: #e3e2df;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

    &:last-child {
        margin-right: 0;
    }
}
