.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.allCourses {
    margin: 0 3.5rem 0 5rem;
}

.navigationLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    list-style: none;
    cursor: pointer;
}

.link {
    margin-right: 0.5rem;

    &:last-child {
        margin-right: 0;
    }
}
