.componentTitle {
    width: 55.3rem;
}
.imageContainer {
    width: 35rem;
    height: 22rem;
    border-top: 1px solid #0f0f0f;
    border-right: 1px solid #0f0f0f;
    border-radius: 0 1rem 0 0;
    position: relative;
}
.image {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}
