@import '../../styles/variables.module.scss';
@import '../../styles/utils/display.scss';
@import '../../styles/utils/index.scss';
.container {
    background-color: $backgorund2;
    color: $black-color2;
    @extend .flex;
    @extend .items-center;
    @extend .justify-center;

    height: 104rem;
}
.main {
    width: 114rem;
    @extend .flex;
    @extend .flex-col;
    gap: 5rem;
}
.titleComponent {
    width: 62.2rem;
    height: 14.6rem;
}

.header {
    font-size: 2.6rem;
    font-weight: 700;
    max-width: 54.3rem;
    margin-bottom: 2rem;
    color: $black-color;
}

.headerExtra {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    max-width: 57rem;
    color: $gray-text-color;
}

.benefits {
    @extend .flex;
    @extend .flex-wrap;
    gap: 2rem;
    height: 62.6rem;
}
@media screen and (max-width: 1440px) {
    .container {
        align-items: center;
        justify-content: center;
    }
    .benefits {
        justify-content: center;

        padding: 0;
    }
}
