.container {
    background-color: #efeeeb;
    color: #000000;
    padding: 10rem 15rem 5rem 25rem;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 2.6rem;
    font-weight: 700;
    max-width: 54.3rem;
    margin-bottom: 2rem;
    color: #0f0f0f;
}

.headerExtra {
    font-size: 1.6rem;
    margin-bottom: 2rem;
    max-width: 57rem;
    color: #4b4b4b;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    
    margin-top: 5rem;
    gap: 2rem;
   
    
}
@media screen and (max-width: 1440px) {
    .container{
        align-items: center;
        justify-content: center;
       
    }
    .benefits{
          justify-content: center;
       
        padding: 0;
    }
    
}
